/*----RESET-----*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    align-items: 
    
}

img { z-index: 6;}
/*-----------Main------------*/

h1 { font-family: 'Trade Winds', cursive;
    margin-left: 50px;
    margin-right: 20px;
    font-size: 4em;


}

h2 {
    margin: 40px;
    margin-top: 200px;
    margin-bottom: 100px;
    font-family: 'Trade Winds', cursive;
    color: #3E153D;
    font-size: 3.5em;

}

h4{
    position: static;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    margin-top: 400px;
    margin-bottom: 400px;
    padding-top: 30px;
    
}

h3{
    position: static;
    font-size:0.85em;
    font-family: 'Open Sans', sans-serif;
    margin-top: 240px;
    margin-left: 200px;
    margin-right: 200px;
    
}


p {
    position: relative;
    z-index: 1;
    font-size: 1.0em;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
    letter-spacing: 0.16em;
} 

h5 {
    margin: 20px;
    font-size: 3.5em;
    font-family: 'Trade Winds', cursive;
    color: whitesmoke;
}

h6 {
    margin: 80px;
    font-size: 1.1em;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}

section {
    background-color: #A9875A;
    width:100%;
    padding-top: 120px;
    height: 600px;
   
}

footer {
    padding:50px;
}

body {
    background-color:#E4C8B0;
}
/*-----------header------------*/

.containerstart {
    position: absolute;
    z-index: 1000;
}
.backcolor {
    z-index: -2;
    
    background-color: #E4C8B0;
    height: 750px;

}



.h1first {font-family: 'Trade Winds', cursive;
    font-size: 3em;
    padding-top: 20px;
    margin-bottom: -10px;
    
}

.h1firstt {font-family: 'Trade Winds', cursive;
    font-size: 3em;
    margin-top: -10px;
    margin-bottom: -10px;
    
}

.man {
    z-index: 1;
    position: absolute;
    height:80%;
    width:60%;
    top: 390px;
    right: 260px;
    }

.shadow {
    position:absolute;
    max-width:45%;
    max-height:45%;
    top:50%;
    left:50%;
    overflow:visible;
}



.trees {
    position:absolute;
    z-index: -1;
    max-width: 100%;
    margin-top: -760px;
    margin-bottom: 100px;
   
}

/*----------------feet----------------*/

.foot1 {
    z-index: 1;
    position: absolute;
    height:80%;
    width:60%;
    top: 390px;
    right: 260px;
}


.foot2 {
    z-index: 1;
    position: absolute;
    height:80%;
    width:60%;
    top: 390px;
    right: 260px;
}



/*--------------------------*/

.container {
    position:relative;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 120px;
    margin-right: 120px;
   
}

.birds {
    position: absolute;
    float: right;
    width: 87%;
    height: 87%;
    margin-top: -165px;
    right:250px;
}

.h3intro {
    font-size: 2em;
    padding-left: 180px;
    padding-top: 20px;
    right:40px;
    margin-bottom: 400px;
    text-align: justify;
    
    

}

.break {
    position: absolute;
    width:100%;
    margin-top: -910px;
}

.facts {
    margin-top: 20px;
    margin-bottom: 100px;
    z-index: 22;
    padding-left: 60px;
}


/*---------------------------NAV---------------------*/

nav {
    padding-top: 2em;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 2em;
    }

nav ul {
    text-align: center;
    text-transform: none;
}

nav ul li {
    display: inline;
    margin: 20px;}

/*----------parallax-----------*/

.parallax { 
    left:-2px;
    background: url(pictures/parralax.jpeg) repeat fixed 10%;
    width: 1300px;
    margin-bottom: 40px;
    
    
}

.parallax-inner {
    padding-top: 100px;
    padding-bottom: 100px;
}


/*-----------------------return to top float----------------*/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/*----------------QUOTE--------*/

blockquote {
    margin:60px;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.2em;
    text-decoration-style: 
}

.speech { margin-left: 100px;

}

/*------table------*/

table {
    font-family: "Open Sans" sans-serif;
    align-content: center;
    font-size: 1.2em;
    border-collapse: collapse;
    width: 80%;
    margin-top: 2em;
    text-align: center;
    
}

th, td {
    padding: 10px;
}


th {
    background-color:#3E153D;
    color: white;;
}


tr:hover
    {background: burlywood;
    color: white;}

.responstable th:first-child {
  display: table-cell;
  text-align: center;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
}
@media (min-width: 480px) {
  .responstable td {
  
  }
}
.responstable th, .responstable td {
  text-align: left;
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}


.facts {
    margin-top: 140px;
    margin-bottom: 140px;
}


/*---------------S N O W--------------*/

.container four { background-color:#333; }
#snow{
	background: #333;
    padding-top: 30px;
    padding-bottom: 30px;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: relative;
    z-index: -1;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	


/*--------------------MEDIA QUERIES--------------------*/
        
/*---------- TABLET ----------------*/
@media (max-width: 50em) {
    
   
    
article {
    width: 95%;
    padding: 0.5em;
    } 
    
    img {
    display: block;
    margin: 1em auto;
    padding: 0;
    max-width: 100%;
    }
    
    .man {
    z-index: 1;
    position: absolute;
    height:100%;
    width:100%;
    top: 390px;
    right: 260px;
    }

.shadow {
    position:absolute;
    max-width:45%;
    max-height:45%;
    top:50%;
    left:50%;
    overflow:visible;
}
} 

/*----------- SMARTPHONE ----------- */
 @media (max-width: 30em) {
    
   body {
    margin: auto 0;
    max-width: 100%;
    font-size: 110%;
    }
    
article {
    width: 90%;
    } 

h1 {font-size: 2.9em;}   

blockquote p{padding: 0;
line-height: 1.5em}  
     
hgroup h2 {font-size: 1.5em;
padding-top: 0.5em}  
     
nav ul li {font-size: .75em;
        margin: 10px}

        
.man {
    height: 60%;
    width: 40%
}

p {
    margin: 0px;
    padding: 0px;
    font-size: 0.9em;
}

section {
    height: auto;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

.h3intro  {
    font-size: 1.2em;
    padding: auto;
    right: 0;
    margin-top: 360px;
    margin-right: 50px;
    margin-left: 0;
}
.parallax {
    width: auto;
}

.man {
    z-index: 1;
    position: absolute;
    height:50%;
    width:70%;
    top: 470px;
    left: 18%;
    
    }

.shadow {
    position:absolute;
    max-width:45%;
    max-height:45%;
    top:50%;
    left:50%;
    overflow:visible;
}

}
